<div class="mynavbar">
    <div *ngIf="isAuthenticated">
        <button type="button" class="btn btn-secondary"  (click)="go('dashboard')">Dashboard</button>
        <button type="button" class="btn btn-secondary pull-right"  (click)="doLogout()">Logout</button>
    </div>
</div>
<div class="mynavbar">
	<div *ngIf="!isAuthenticated">

        <div class="navbar-brand">
            <a class="navbar-item">
                <img src="assets/login.png" width="50px">
            </a>
        </div>
        <button  type="button" class="btn btn-secondary" (click)="go('users/add')">Registration Here</button>
		<button  type="button" class="btn btn-secondary" (click)="go('users')">Users List</button>
        <button   type="button" class="btn btn-secondary pull-right" (click)="go('login')">Login</button>


	</div>
</div>
<hr>


