<div class="mynavbar">
    <div *ngIf="isAuthenticated">
        <button type="button" class="btn btn-secondary"  (click)="go('dashboard')">Dashboard</button>
        <button type="button" class="btn btn-secondary pull-right"  (click)="doLogout()">Logout</button>
    </div>
</div>

    <div class="mynavbar">
            <div *ngIf="!isAuthenticated">
                <button   type="button" class="btn btn-secondary" (click)="go('login')">Login</button>
                <button  type="button" class="btn btn-secondary" (click)="go('users')">Users List</button>
                <button  type="button" class="btn btn-secondary" (click)="go('users/add')">New User Registration</button>
            </div>
    </div>
<hr>

