<div class="ui-g" style="padding: 25px">
    <p-fileUpload mode="basic"
                  (onSelect)="fileEvent($event)">
    </p-fileUpload>
</div>

<div class="ui-g">

    <div class="ui-g-6" *ngFor="let uf of uploadedFiles; let idx = index">
        <div class="ui-g user-list-item">
            <div class="ui-g-2">{{ idx }}</div>
            <div class="ui-g-6">{{ uf.fileName }}</div>

            <div class="ui-g-4" style="color: green" (click)="downloadFile(uf.id, uf.fileName)">Download</div>
        </div>
    </div>
</div>
