.file-item {
    padding: 8px;
    background: #9370DB;
    margin: 3px;
    font-weight: bold;
    font-size: 14px;
    border-radius: 2px;
    box-shadow: 0 9px 4px -6px #a0a0a0;
    border: 1px solid #c5c5c5;
    cursor: pointer;
    color: white;
}
button{
    border-radius: 0px;
    background: #9370DB ;
    font-size: 18px;
    color: white;
}
