<div class="navbar-brand">
    <a class="navbar-item">
        <img src="assets/lock.jpg" width="650px">
    </a>
</div>
<div class="ui-g">
    <div class="ui-g-6">
        <form [formGroup]="loginForm" *ngIf="loginForm">

            <div class="ui-g">
                <div class="ui-g-12">
                    <H4>Login To Online Locker</H4>
                </div>
                <div class="ui-g-12">
                    <input pInputText
                           type="text"
                           placeholder="Enter Email"
						   formControlName="email"
						   required
						   pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" />
                </div>
                <div class="ui-g-12">
                    <input pPassword
                           type="password"
                           placeholder="Enter Password"
						   formControlName="password"
                           minlength="8"
						   required />
                </div>
                <div class="ui-g-12">
                    <button pButton
                            label="Login"
							(click)="doLogin()"
							[disabled]="!loginForm.valid">
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>



