<div class="overall">
    <div class="topbar-leftsidebar">
        <ng-container *ngIf="shouldBehaveAsAuthenticated">
            <!--<app-sidebar></app-sidebar>-->
            <app-topbar></app-topbar>
        </ng-container>

        <ng-container *ngIf="!shouldBehaveAsAuthenticated">
        </ng-container>

    </div>

    <div class="main-component-loader">
        <router-outlet></router-outlet>
    </div>

    <div class="bottombar">
        <ng-container *ngIf="shouldBehaveAsAuthenticated">
            <app-footer></app-footer>
        </ng-container>
    </div>
</div>

<p-toast></p-toast>
